<!DOCTYPE html>
<html lang="{{ site.lang | default: 'en-US'}}">
  <head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.20/datatables.min.css"/>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="schema_browser/hed-collapsible.css">
    <!--<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="/schema_browser/schema-browser.js"></script>
  </head>
  <body>
    <div class="container-fluid">
	<div class="row" name="header-section">
	    <div class="col col-lg-12">
	    	<h1 class="display-4 mt-4 text-center text-primary" style="font-family:'Helvetica'">{{ page.title }}</h1>
            <p class="lead text-center text-secondary">HED (Hierarchical Event Descriptor) is a structured vocabulary for annotating events.<br>
                HED and the HED schema have evolved over several generations; the current generation (HED-3G) HED base schema, beginning with version 8.0.0, is currently still under testing.<br>
                For more information, see <a href="http://www.hedtags.org">hedtags.org</a>.</p>
	    	<hr class="my-4">
	    </div>
	</div>
	<div class="row" name="button-section">
	    <div class="btn-toolbar mb-2" role="toolbar" aria-label="Toolbar with button groups">
	    	<div class="btn-group mr-2">
            	    <button type="button" class="btn btn-light" onclick="showHideAll()">Expand/Collapse all</button>
	    	</div>
                <div class="input-group mr-2">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon">Expand to level</span>
                    </div>
                    <input type="text" class="form-control" id="basic-url" oninput="toLevel(this.value)" aria-describedby="basic-addon">
                </div>
            	<div class="dropdown mr-2">
                    <button class="btn btn-light dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >
                   	 Show another version
                    </button>
                    <div class="dropdown-menu" id="schemaDropdown" aria-labelledby="dropdownMenuButton"></div>
                </div>
	    </div>
	</div>
	<div class="row" name="hed-version">
            <div class="col col-lg-3">
    	    	<h1 id="hed" style="font-family:ultra, sans-serif;color:#0099ff">HED</h1>
	    </div>
	</div>
		
        <div class="row">
            <div class="col-6" name="schema-section">
                <div id="schema" class="list-group list-group-root well" status="show"></div>
		<div class="accordion" id="accordionExample">
  		    <div class="card">
    		    	<div class="card-header" id="headingOne">
      		    	<button href="#unitClassDefinitions" class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" aria-expanded="true" aria-controls="collapseOne">
				Unit class definitions
      		    	</button>
		    	</div>
                    	<div id="unitClassDefinitions" class="list-group collapse multi-collapse"></div>
		    </div>
  		    <div class="card">
    		    	<div class="card-header" id="headingTwo">
      		    	<button href="#unitModifierDefinitions" class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" aria-expanded="true" aria-controls="collapseTwo">
				Unit modifier definitions
      		    	</button>
		    	</div>
                    	<div id="unitModifierDefinitions" class="list-group collapse multi-collapse"></div>
		    </div>
  		    <div class="card">
    		    	<div class="card-header" id="headingThree">
      		    	<button href="#schemaAttributeDefinitions" class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" aria-expanded="true" aria-controls="collapseThree">
				Schema attribute definitions
      		    	</button>
		    	</div>
                    	<div id="schemaAttributeDefinitions" class="list-group collapse multi-collapse"></div>
		    </div>
		</div>
            </div>
            <div class="col-5" name="info-board-section">
                <div id="infoBoard" class="border border-primary rounded">
                    <div>
			<h4 id="title"><i>Hover a tag for more information</i></h4>
                        <p id="tag"></p>
                        <p id="description"></p>
                        <p>--------</p>
                        <div id="attribute_info"></div>
                    </div>
                </div>
            </div>
            <div class="col"></div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script>
	load("{{ page.repo_path }}", "{{ page.default_xml_path }}");
    </script>
  </body>
</html>
