<!doctype html>
<html lang="en">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

  <!-- Custom CSS -->
  <style>
    /* Modern color scheme */
    .bg-primary {
      background-color: #00b8d4;
    }
    .bg-secondary {
      background-color: #b2dfdb;
    }
    .text-primary {
      color: #00b8d4;
    }
    .text-secondary {
      color: #b2dfdb;
    }

    /* Modern fonts */
    body {
      font-family: 'Roboto', sans-serif;
    }
    h1, h2, h3, h4, h5, h6 {
      font-family: 'Montserrat', sans-serif;
    }
  </style>

  <title>My Second Page</title>
</head>
<body>
    <!-- Navigational Header -->
  <nav class="navbar navbar-expand-lg navbar-light bg-primary">
    <a class="navbar-brand text-white" href="/"><img src="assets/images/hed-logo.jpg" class="img-fluid img-thumbnail" width="70" height="70" alt="Logo image"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
       <li class="nav-item active">
          <a class="nav-link text-white" href="#">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="#">Examples</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="#">Resources</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="#">Tutorials</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="#">Community</a>
        </li>
      </ul>
    </div>
  </nav>

  <!-- Main Content -->
  <div class="container-fluid p-0">
    <div class="row">
        <!-- Sidebar Left -->
      <div class="col-md-2 bg-light p-3">
        <h4 class="text-primary">Main Navigation</h4>
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link text-primary" href="#">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-primary" href="#">Examples</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-primary" href="#">Resources</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-primary" href="#">Tutorials</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-primary" href="#">Community</a>
          </li>
        </ul>
      </div>
      <!-- Text Content -->
      <div class="col-md-8 p-3">
        {{ content }}
    </div>
    <!-- Sidebar Right -->
    <div class="col-md-2 bg-light p-3">
      <h4 class="text-primary">Section Navigation</h4>
      <ul class="nav flex-column">
        <li class="nav-item">
          <a class="nav-link text-primary" href="#section1">Data creators</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-primary" href="#section2">Data archives</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-primary" href="#section3">Data analysts</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-primary" href="#section3">Tools developers</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-primary" href="#section3">Schema developers</a>
        </li>
      </ul>
    </div>
  </div>
</div>
<!-- Footer-->
        <footer class="py-5 bg-dark">
            <div class="container px-5">
                <div class="row gx-5">
                    <div class="col-lg-4 mb-5 mb-lg-0">
                        <a class="m-0 text-left text-white" href="#">Contact us</a>
                        <p class="m-0 text-left text-white">Copyright &copy; Your Website 2022</p>
                    </div>
                    <div class="col-lg-4 mb-5 mb-lg-0">
                        <a class="m-0 text-left text-white" href="#">Some link</a>
                    </div>
                    <div class="col-lg-4 mb-5 mb-lg-0">
                        <a class="m-0 text-left text-white" href="#">Some link</a>
                    </div>
                </div>
            </div>
        </footer>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.16.6/dist/umd/popper.min.js" integrity="sha384-1hN/DzO0kCeKrzcNn8tZiQtZVxlZ1xp0p8JGvE/IbZY5t0+dW0Bv07XO/OJI0tZ" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
</body>
</html>

